.A{
    color: darkblue;
                font-family: Arial;
                font-size: 20px
}

.TODO
{
    color: darkblue;
                font-family: Arial;
                font-size: 20px
}